.participant-list .participant a {
	font-size: 12px;
}
.participant-list .participant a h1 {
	font-size: 14px;
}
.participant-list .participant img {
	margin: 14px 0 0 5px;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	height: 50px;
	width: 50px;
}
.participant-list .participant .percentage-vote {
	float: right;
}
.participant-list .participant .percentage-vote img{
	border: 0;
	margin: 0;
}
.participant-list .participant .percentage-vote img.star{
	height: 16px;
	width: 16px;
}
.participant-list .participant .percentage-vote img.half-star{
	height: 16px;
	width: 8px;
}

.participant-list .participant .percentage-layer {
	position: absolute;
	z-index: -1;
	background: #81ACE6;
	height: 77px;
	top: 0;
}