.env

DecisionMakr.iml

.idea/workspace.xml

.idea/uiDesigner.xml

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/.name

.idea/ant.xml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml
