.participant-list .participant .participant-actions {
  display: none;
}
.participant-list .participant .participant-actions .ui-controlgroup-controls{
  margin-left: 10px;
}
.participant-actions .ui-btn-inner {
  padding-right: 10px;
}

.selected {
  background-color: #777;
}
.header {
	padding-top: 10px;
}
.header p,
.tweet-bar span  {
	font-size: 12px;
	margin: 0;
}

.participant-info {
	min-height: 90px;
	padding-left: 95px;
}

.participant-info .hashtag-wrap{
	margin-top: 10px;
}

.participant-list .participant a, 
.twitter-list  .participant .twitter-user-info {
	font-size: 12px;
}
.participant-info h1,
.participant-list .participant a h1,
.twitter-list  .participant img.twitter-user-image {
	font-size: 14px;
}
.participant-info h1 {
	margin-top: 0;
	height: 6px;
}

.header img,
.participant-list .participant img,
.twitter-list  .participant img {
	margin: 14px 0 0 5px;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	height: 50px;
	width: 50px;
}

.participant-list .participant img.twitter-user-image,
.twitter-list  .participant img.twitter-user-image {
	margin-left: 15px;
}

.header img {
	float: left;
	margin-top: 0;
	height: 75px;
	width: 75px;
}

.percentage-vote {
	float: right;
}
.participant-info .percentage-vote {
	margin-right: 20px;
}

.percentage-vote img{
	border: 0;
	margin: 0;
}
 .percentage-vote img.full-star,
 .percentage-vote img.half-star{
	border: 0;
	margin: 0;
	height: 16px;
	width: 16px;
}
.percentage-vote img.half-star{
	width: 8px;
}

.participant-list .participant .percentage-layer {
	position: absolute;
	z-index: -1;
	background: #81ACE6;
	height: 77px;
	width: 0%;
	top: 0;
}

.participant .twitterhandle {
	font-weight: normal;
	margin-left: 10px;
	color: #999;
}
.twitter-user-info {
	margin-top: 5px;
}
.twitter-user-info h1,
.twitter-user-info p,
.twitter-user-message
{
	float: left;
}
.timestamp
{
	float: left;
  font-size: 10px;
}
.twitter-user-info h1
{
	margin: 0 0 10px 0;
}
.twitter-user-message {
	width: 100%;
}
.twitter-user-info {
}

.participant p.percentage-vote {
	margin-right: 10px;
}

.ui-page .ui-content .ui-listview .ui-li-desc {
    white-space : normal;
}

.tweet-bar {
	text-align: center;
}
.tweet-bar img.twitter-logo {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.tweet-bar img.rate-logo {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	padding: 3px;
}
.feedback-stars {
	text-align: center;
}
.feedback-stars img {
	width: 48px;
	height: 48px;
}

.feedback-wrap label {
	margin-right: 20px;
	float: left;
	width: 100%;
}
.feedback-wrap label span.label {
	float: left;
}
.feedback-wrap label span.charlimit {
	float: right;
}
.feedback-wrap #feedback {
	height: 100px;
	margin: 5px 0 15px 0;
}
.feedback-wrap input {
	width: 100%;
}

.participant {
	float: left;
	width: 100%;
}
.participant .twitter-message-wrap {
	margin-left: 70px;
	padding: .7em 15px;
}

/* jquery overrides */
.twitter-list .ui-li-has-thumb {
	padding: 0;
	min-height: 80px;
}
